.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 30px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text p {
  margin-top: 10px;
  color: gray;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.hero-image img {
  width: 300px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}
